.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}


#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* responsive */



@media screen and (max-width: 420px){

  *{
    font-size: 30px;;
  }

  img {
    height: 150px;
  }

  .container.grey{
    background-color: white;
  }


  /* titol e lezioni dove vuoi */

  #lezioni .row img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .row h1{
    font-size: 50px;
    margin-bottom: 50px;
  }

  .row h3{
    font-size: 35px;
    margin-bottom: 10px;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 95%;
    margin: auto;
    display: block;
    padding-bottom: 50px;
    float: none;
  }
  /* emd titol e lezioni dove vuoi */

  /* come funziona */

  #steps::after{
    content: "";
    display: block;
    clear: both;
  }


  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 95%;
    margin: auto;
  }

  #steps .left, #steps .central, #steps .right{
    display: block;
    clear: both;
    text-align: left;
    padding-bottom: 30px;
  }

  #steps .left::after{
    content: "";
    display: block;
    clear: both;
  }

  #steps .central::after{
    content: "";
    display: block;
    clear: both;
  }

  #steps .right::after{
    content: "";
    display: block;
    clear: both;
  }

  #steps .left img, #steps .central img, #steps .right img{
    float: left;
    width: 15%;
    height: auto;
    padding-right: 60px;
  }

  /* end come funziona */

  /* perchè cademi */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    border: none;
  }

  #why .row>.third {
    padding-bottom: 30px;
  }

  #why .row h3{
    margin-top: 15px;
  }

  /* end perchè cademi */
}
